.card {
    height: 200px;
    color: white;
    position: relative;
    width: 20%;
}

.card-category {
    position: absolute;
    top: 10px;
    left: 10px;
}

.card-description {
    position: absolute;
}