.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

span.anchor {
    display: block;
    position: relative;
    top: 30px;
    visibility: hidden;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.content {
    padding-top: 30px;
}

.item {
    height: 500px;
}